*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{

    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: rgb(137, 63, 137);
}

.inp{

    background-color: rgb(161, 166, 171);
    width: 300px;
  
    padding: 45px;
    border-radius:10px;
    max-width:100%;
}

.inp  div{

    border-radius:100px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;

}

.inp div input{

  border: none;
  outline: none;
  background-color: white;
  padding:12px 20px ;

position: relative;
right: 30px;
font-size: 18px;
border-radius: 16px;




}
input::placeholder{

    color: rgb(72, 71, 71);
}


input[type="submit"]{

    width:200px;
    height: 40px;
    font-size: 17px;
    font-weight: 600;
    background:linear-gradient(#302f30,#5e5f62);
    border: none;
    color: white;
   
}